
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttongroup {
  margin: 20pt;
  padding: 20pt;
}

.container {
  margin: 20pt;
}



#status_block {
  margin-left: 5%;
  margin-top: 2%;
}

#status-run {
  color:greenyellow;
  font-size: 16pt;
}


#status-stop {
  color:red;
  font-size: 16pt;
}

#status-unknown {
  color:blue;
  font-size: 16pt;
}

.graph_form {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;  
}

.mytable {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.trader_data {
  margin-top: 2%;
}


#login_page {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image:url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/deutsche-bank-building-frankfurt-hessen-germany_-1finekvh__F0000.png');
}

#logo_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#login_form {
  display: block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;

  background-color: #e6e6e6;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin-top: 5%;
}

#login_title {
  font-size: 18pt;
  color: #546673;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
}

#login_button {
  text-align: center;
  
}

#login_error_text {
  font-size: 11pt;
  color: red;
}